:root {
  --bg: #0f1b22;
  --text: #eaf3f7;
  --card: #102733;
  --accent: #2dd4bf;

  --type-grass: #7ac74c;
  --type-fire: #ee8130;
  --type-water: #6390f0;
  --type-bug: #a6b91a;
  --type-poison: #a33ea1;
  --type-normal: #a8a77a;
  --type-electric: #f7d02c;
  --type-ground: #e2bf65;
  --type-fairy: #d685ad;
  --type-fighting: #c22e28;
  --type-psychic: #f95587;
  --type-rock: #b6a136;
  --type-ghost: #735797;
  --type-ice: #96d9d6;
  --type-dragon: #6f35fc;
  --type-steel: #b7b7ce;
  --type-dark: #705746;
}
